@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-responsive";

$ft-green: #cce9c8;
$lt-green: #84d178;
$dk-green: #1e750e;
$orange: #f26c05;

// Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

  .chromeframe {position: absolute; top: 0;}

  body {
    padding: 0; margin: 0;
  }

  body, select, input, textarea {
    color: #222;
    font: 16px sans-serif, arial, helvetica;
    padding-bottom: 50px;
  }

  // HEADER
  header {
    background: $ft-green;
    height: 130px;
    margin: 0;
    width: auto;
    
    .logo {
      width: 292px;
      height: 152px;
      position: absolute;
      left: 50%;
      margin-left: -146px;
      top: 5px;
      cursor: pointer;
    }
    
  }
  
  footer {
    background: $ft-green;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
  }

  // Print styles
  @media print {

  }

  // Media queries! 
  @media screen and (max-width: 480px) {

  }

  // Pull in activities
  @import "activities/wordfind";
